body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0; /* Remove default margin to use full height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Make sure the body is at least the height of the viewport */
}

/* Main content should grow and fill available space */
.main-content {
    flex: 1; /* Allow the main content to grow and push footer to the bottom */
}

h1 {
    font-family: "Cinzel", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8a2be2;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

a:link {
    color: #f0ddf0;
}

a:visited {
    color: #e4e4e4;
}

a:hover {
    color: yellow;
}

.introduction {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.introduction p {
    margin-top: 0;
}

.map-container {
    width: 90%;
    height: 55vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.leaflet-popup-content-wrapper {
    background-color: #6f1ab0;
    color: white;
    font-size: 1.3rem;
}

.leaflet-popup-content {
    padding: 1rem;
}
.leaflet-popup-tip {
    background-color: #6f1ab0;
}

/* Target the span inside the leaflet-popup-close-button */
.leaflet-popup-close-button span {
    color: white;
    font-size: 2rem;
    margin: -1rem 0 0 -2rem;
    padding: 1rem;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.random-button-style,
.reset-button-style {
    background-color: #8a2be2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1.25rem;
    margin-top: 1.5rem;
    border-width: 0;
    border-style: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.5s;
    width: 20rem;
}

/* Adding hover effect */
.random-button-style:hover,
.reset-button-style:hover {
    background-color: #6f1ab0;
    transform: scale(1.1);
}

/* Adding span for text animation inside button */
.random-button-style span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Adding pseudo-element for the arrow animation */
.random-button-style span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

/* Animation for span on hover */
.random-button-style:hover span {
    padding-right: 25px;
}

/* Animation for the arrow to appear on hover */
.random-button-style:hover span:after {
    opacity: 1;
    right: 0;
}

/* Media query for screens less than 37.5rem (600px) */
@media (max-width: 37.5rem) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 1.75rem;
        margin: 0.25rem;
    }

    .introduction {
        font-size: 1rem;
        margin: 0.25rem;
    }

    .map-container {
        width: 100%;
        height: calc(100vh - 10rem);
        margin: 0;
    }

    .button-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .random-button-style,
    .reset-button-style {
        font-size: 1rem;
        padding: 0.4rem 1rem;
        margin-top: 1rem;
    }
}

/* Footer styles */
.footer {
    color: white;
    font-size: 1.2rem;
    background-color: #6f1ab0;
    height: 3rem;
    text-align: center;
}
